
<div class="container">

<h2>Update Question</h2>
<!-- and, make and update q form here -->
<%= form_for @question do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br>

  <%= f.label :content %>
  <%= f.text_area :content %><br>

  <%= f.submit %>
<% end %>
</div>


