<h1><%= @question.title %></h1>
<p><%= @question.content %></p>
<%= link_to "Delete Question", question_path, method: :delete %>
<%= link_to "Edit Question", edit_question_path %>
<h2>Answers</h2>

<div class="answers">
<%= render partial: "answer", collection: @answers %>
</div>
<%= form_for @answers, :url => question_answers_path(:question_id => params[:id]) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br>

  <%= f.label :content %>
  <%= f.text_area :content %><br>

  <%= f.submit %>

<% end %>

<!-- destroy question link -->

