<div class="container">
<h1><%= @question.title %></h1>
<p><%= @question.content %></p>

<span class="spaced">
<%= link_to "Home", questions_path %>
</span>
<span class="spaced">
<%= link_to "Delete Question", question_path, method: :delete %>
</span>

<span class="spaced">
<%= link_to "Edit Question", edit_question_path %>
</span>
</div>

<h2>Answers</h2>

<%= render @question.answers %>

<%= form_for :answer, :url => question_answers_path(:question_id => params[:id]) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br>

  <%= f.label :content %>
  <%= f.text_area :content %><br>

  <%= f.submit %>

<% end %>

